body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.colorBtn{
    padding: 0.25 0.25;
    border:3px solid #fefefe;
    border-radius: 7px;
    color:#fefefe;
    background: green;
    font-size:1.5rem;
    text-transform:uppercase;
    cursor:pointer;
    outline:none;
}
.colorBtn:hover{
    background:fuchsia;
}